@model X.PagedList.IPagedList<front_end_ASP.NET_Core_MVC_.Models.DataModels.Order>
@using X.PagedList.Mvc.Core

@{
    ViewData["Title"] = "Index";
}

<!-- Content Header -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-6">
                <h1>Index</h1>
            </div>
            <div class="col-6">
                <form class="form-inline float-right" asp-action="Index" asp-controller="Orders" asp-area="Admin">
                    <div class="input-group input-group-sm">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="searchName" value="@ViewBag.searchName">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div><p>@TempData["success"]</p></div>
    </div>
</div>
<!-- /.content-header -->
<!-- Main content -->
<div class="container-fluid">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Account Name</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Created at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.OrderId)</td>
                    <td>@Html.DisplayFor(modelItem => item.Account.AccountName)</td>
                    <td>@String.Format("{0:N2}", item.ToltalPrice)$</td>
                    <td>
                        @switch (item.Status)
                        {
                            case 0:
                                <p>Not processed</p>
                                break;
                            case 1:
                                <p>Preparing order</p>
                                break;
                            case 2:
                                <p>In transit</p>
                                break;
                            case 3:
                                <p>Delivered</p>
                                break;
                            default:
                                <p>Canceled</p>
                                break;
                        }
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.Created_at)</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.OrderId" class="btn btn-outline-info">Edit</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        @Html.PagedListPager(
                 Model,
                 page => Url.Action("Index", "Orders", new { page = page, searchName = ViewBag.searchName }),
                 new PagedListRenderOptions
        {
            LiElementClasses = new[] { "page-item" },
            PageClasses = new[] { "page-link", "btn", "btn-primary" }
        })
    </div>
</div>
